<h2>Create Bookings</h2>

<form (ngSubmit)="onSubmitBooking()">
  <div class="form-group">
    <label for="airline">Airline</label>
    <input
      id="airline"
      type="text"
      [(ngModel)]="airline"
      name="airline"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="callsign">Callsign</label>
    <input
      id="callsign"
      type="text"
      [(ngModel)]="callsign"
      name="callsign"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="dateOfFlight">Date of Flight</label>
    <input
      id="dateOfFlight"
      type="text"
      [(ngModel)]="dateOfFlight"
      name="dateOfFlight"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="seatsToReserve">Seats to Reserve</label>
    <input
      id="seatsToReserve"
      type="number"
      [(ngModel)]="seatsToReserve"
      name="seatsToReserve"
      class="form-control"
    />
  </div>
  <button class="btn btn-primary">Login</button>
</form>
