<h2>Create Bookings</h2>

<form (ngSubmit)="onSubmitBooking()">
  <div class="form-group">
    <label for="airline">Choose Flight</label>
    <select
      id="airline"
      type="text"
      name="airline"
      class="form-control"
      [(ngModel)]="selected"
    >
      <option value="" selected>Select an Option</option>
      <option *ngFor="let flight of allFlights" value="{{ flight.id }}">
        {{ flight.airline }} - {{ flight.callsign }} -
        {{ flight.dateOfFlight }} - {{ flight.seatsAvailable }}/{{
          flight.seatsTotal
        }}
        Seats Remaining
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="seatsToReserve">Seats to Reserve</label>
    <input
      id="seatsToReserve"
      type="number"
      [(ngModel)]="seatsToReserve"
      min="1"
      name="seatsToReserve"
      class="form-control"
    />
  </div>
  <button class="btn btn-primary">Create Booking</button>
</form>

<ngb-alert
  #selfClosingAlert
  *ngIf="failMessage"
  type="danger"
  (closed)="failMessage = ''"
  >{{ failMessage }}
</ngb-alert>

<ngb-alert
  #selfClosingAlert
  *ngIf="successMessage"
  type="success"
  (closed)="successMessage = ''"
  >{{ successMessage }}
</ngb-alert>
