<nav class="navbar navbar-default">
  <div
    class="
      d-flex
      flex-wrap
      align-items-center
      justify-content-center justify-content-lg-start
    "
  >
    <a
      href="/"
      class="
        d-flex
        align-items-center
        mb-2 mb-lg-0
        text-white text-decoration-none
      "
    >
      <svg
        class="bi me-2"
        width="40"
        height="32"
        role="img"
        aria-label="Bootstrap"
      >
        <use xlink:href="#bootstrap" />
      </svg>
    </a>

    <ul
      class="
        nav
        col-12 col-lg-auto
        me-lg-auto
        mb-2
        justify-content-center
        mb-md-0
      "
    >
      <li
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="['/']" class="nav-link px-2 text-primary">Home</a>
      </li>
      <li
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/bookings']"
          class="nav-link px-2 text-black-50 text-decoration-underline"
          >Bookings</a
        >
      </li>
      <li
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          [routerLink]="['/create-bookings']"
          class="nav-link px-2 text-black-50 text-decoration-underline"
          >Create Bookings</a
        >
      </li>
    </ul>

    <div class="text-end">
      <a
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/login']"
        ><button type="button" class="btn btn-outline-light me-2">
          Login
        </button></a
      >
      <a
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/logout']"
        ><button type="button" class="btn btn-outline-light me-2">
          Logout
        </button></a
      >
      <a
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/register']"
        ><button type="button" class="btn btn-warning">Sign-up</button></a
      >
    </div>
  </div>
</nav>
