<h2>Flight Bookings</h2>

<form (ngSubmit)="onSearchSubmit('all')">
  <!-- <form> -->
  <div class="form-group form-inline">
    <label for="airlineName"
      >Choose from the dropdown list to filter by airline name:</label
    >
    <select
      id="airlineName"
      [(ngModel)]="selectedAirline"
      name="airlineName"
      type="text"
      class="form-control"
      (ngModelChange)="onSearchSubmit(selectedAirline)"
    >
      <option *ngFor="let airline of airlines" value="{{ airline }}">
        {{ airline }}
      </option>
    </select>
  </div>
  <div class="form-group form-inline">
    <label for="dateOfFlightSelect">Choose Date of Departure:</label>
    <input
      type="date"
      name="dateOfFlightSelect"
      id="dateOfFlightSelect"
      [(ngModel)]="selectedDate"
      class="form-control"
      (ngModelChange)="
        selectedAirline ? onSearchSubmit(selectedAirline) : onSearchSubmit('')
      "
    />
  </div>
  <ngb-alert
    #selfClosingAlert
    *ngIf="failMessage"
    type="danger"
    (closed)="failMessage = ''"
    >{{ failMessage }}
  </ngb-alert>
  <button class="btn btn-primary">Show All</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Airline</th>
      <th scope="col">Callsign</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Booking Agent</th>
      <th scope="col">Status</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td id="airline{{ i + 1 }}">
        {{ booking.airline }}
      </td>
      <td id="callsign{{ i + 1 }}">
        {{ booking.callsign }}
      </td>
      <td id="dateOfFlight{{ i + 1 }}">
        {{ booking.dateOfFlight }}
      </td>
      <td id="customerName{{ i + 1 }}">
        {{ booking.customerName }}
      </td>
      <td id="bookingAgent{{ i + 1 }}">
        {{ booking.bookingAgent }}
      </td>
      <td id="status{{ i + 1 }}">
        {{ booking.status }}
      </td>
      <td id="delete{{ i + 1 }}">
        <button
          class="btn btn-danger"
          id="deleteBooking{{ i + 1 }}"
          (click)="deleteBooking(booking.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-alert
  #selfClosingAlert
  *ngIf="deleteMessage"
  type="info"
  (closed)="deleteMessage = ''"
  >{{ deleteMessage }}
</ngb-alert>
