<h2>Flight Bookings</h2>

<form (ngSubmit)="onSearchSubmit(selectedAirline)">
  <div class="form-group form-inline">
    <label for="airlineName"
      >Choose from the dropdown list to filter by airline name:</label
    >
    <select
      id="airlineName"
      [(ngModel)]="selectedAirline"
      name="airlineName"
      type="text"
      class="form-control"
    >
      <option value="all" selected>
        Show All (Clears Date field and shows all dates)
      </option>
      <option *ngFor="let airline of airlines" value="{{ airline }}">
        {{ airline }}
      </option>
    </select>
    <label for="dateOfFlightSelect">Choose Date of Departure:</label>
    <input
      type="date"
      name="dateOfFlightSelect"
      id="dateOfFlightSelect"
      [(ngModel)]="selectedDate"
      class="form-control"
    />
  </div>
  <ngb-alert
    #selfClosingAlert
    *ngIf="failMessage"
    type="danger"
    (closed)="failMessage = ''"
    >{{ failMessage }}
  </ngb-alert>
  <button class="btn btn-primary">Filter</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Airline</th>
      <th scope="col">Callsign</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Booking Agent</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ booking.airline }}
      </td>
      <td>
        {{ booking.callsign }}
      </td>
      <td>
        {{ booking.dateOfFlight }}
      </td>
      <td>
        {{ booking.bookingAgent }}
      </td>
      <td>
        {{ booking.status }}
      </td>
    </tr>
  </tbody>
</table>
