<h2>Flight Bookings</h2>

<form (ngSubmit)="onSearchSubmit('all')">
  <!-- <form> -->
  <div class="form-group form-inline">
    <label for="dateOfFlightSelect">Choose Date of Departure:</label>
    <input
      type="date"
      name="dateOfFlightSelect"
      id="dateOfFlightSelect"
      [(ngModel)]="selectedDate"
      class="form-control"
      (ngModelChange)="
        selectedAirline ? onSearchSubmit(selectedAirline) : onSearchSubmit('')
      "
    />
  </div>
  <div class="form-group form-inline">
    <label for="airlineName"
      >Choose from the dropdown list to filter by airline name:</label
    >
    <select
      id="airlineName"
      [(ngModel)]="selectedAirline"
      name="airlineName"
      type="text"
      class="form-control"
      (ngModelChange)="onSearchSubmit(selectedAirline)"
    >
      <option *ngFor="let airline of airlines" value="{{ airline }}">
        {{ airline }}
      </option>
    </select>
  </div>

  <ngb-alert
    #selfClosingAlert
    *ngIf="failMessage"
    type="danger"
    (closed)="failMessage = ''"
    >{{ failMessage }}
  </ngb-alert>
  <button class="btn btn-primary" id="showAll">Show All</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Airline</th>
      <th scope="col">Callsign</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Booking ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Booking Agent</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td id="airline{{ i }}">
        {{ booking.airline }}
      </td>
      <td id="callsign{{ i }}">
        {{ booking.callsign }}
      </td>
      <td id="dateOfFlight{{ i }}">
        {{ booking.dateOfFlight }}
      </td>
      <td id="bookingId{{ i }}">
        {{ booking.id }}
      </td>
      <td id="customerName{{ i }}">
        {{ booking.customerName }}
      </td>
      <td id="bookingAgent{{ i }}">
        {{ booking.bookingAgent }}
      </td>
      <td id="status{{ i }}">
        {{ booking.status }}
      </td>
      <td id="actions{{ i }}">
        <span
          ><button
            class="btn btn-success"
            id="confirmBooking{{ i }}"
            (click)="confirmBooking(booking.id)"
            [hidden]="booking.status === 'Confirmed'"
          >
            Confirm
          </button></span
        ><span>
          <button
            class="btn btn-danger"
            id="deleteBooking{{ i }}"
            (click)="deleteBooking(booking.id)"
          >
            Delete
          </button></span
        >
      </td>
    </tr>
  </tbody>
</table>
<ngb-alert
  #selfClosingAlert
  *ngIf="deleteMessage"
  type="info"
  (closed)="deleteMessage = ''"
  >{{ deleteMessage }}
</ngb-alert>
<ngb-alert
  #selfClosingAlert
  *ngIf="confirmMessage"
  type="info"
  (closed)="confirmMessage = ''"
  >{{ confirmMessage }}
</ngb-alert>
